<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/ovchip</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">Zwemmen2004.</property>

        <!-- JDBC connection pool (use the build-in) -->
        <property name="connection.pool_size">1000</property>

        <!-- thread is the short name for org.hibernate.context.ThreadLocalSessionContext -->
        <property name="current_session_context_class">thread</property>

        <!-- Set "true" to show SQL statements -->
        <property name="hibernate.show_sql">false</property>

        <!-- mapping class using annotation -->
        <mapping class="nl.hu.org.dp.infra.hibernate.Adres"></mapping>
        <mapping class="nl.hu.org.dp.infra.hibernate.Reiziger"></mapping>
        <mapping class="nl.hu.org.dp.infra.hibernate.OV_chipkaart"></mapping>
        <mapping class="nl.hu.org.dp.infra.hibernate.Product"></mapping>
    </session-factory>

</hibernate-configuration>